body {
    margin: 10px;
    font-family: monospace;
    background-color: #323e49;

    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 40vh 50vh 10vh; 
}

/* Form Styling*/
#formArea{
    grid-column: 1;
    grid-row: 1;

    display: grid;
    align-items: left;
    justify-items: left;
}

.form-div {
  margin-bottom: 10px;
  color: #ffffff;
  margin-left: 20px; 
}

input[type=submit]{
  margin-left: 20px;
}

input[type=text] {
  margin-top: 8px;
  padding: 12px 60px;
  border: grey solid 1px;
  box-shadow: 2px 3px lightgreen;
  border-radius: 5px;
  background: #434343;
  color: #ffffff;
  align-self: left;
}

#reset {
  margin-left: 20px;
}

/* Styling for Main Div which holds Beer Cards*/

#main-div {
    grid-column: 2;
    grid-row: 1 / span 2;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
    height: 90vh;
    row-gap: 0px;
    column-gap: 0px;
}

.beer-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  margin: 1rem 2rem;
  width: 10vw;
  height: 10vw;
  box-shadow: 3px 4px lightgreen;
  border-radius: 25px;
  background: #434343;
  color: #ffffff;
  cursor: pointer;
  /* display: inline-block;
  height: auto; */
  overflow: auto;
  /* Wraps the links so it doesn't overflow*/
  word-wrap: break-word;
}

.beer-card h2{
  font-size: clamp(0.75rem, 0.5000rem + 0.8333vw, 1.5rem);;
}

.beer-card p{
  font-size: clamp(0.5rem, 0.3333rem + 0.5556vw, 1rem);
}

.beer-card a{
  font-size: clamp(0.5rem, 0.3333rem + 0.5556vw, 1rem);
}

/* Styling for the main card which appears on the bottom left of screen*/

.Main-Card {
  grid-row: 2;
  grid-column: 1;

  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  margin: 1rem 2rem;
  box-shadow: 3px 4px lightgreen;
  border-radius: 25px;
  background: #434343;
  color: #ffffff;
}

.Main-Card:hover, .beer-card:hover{
  box-shadow: 5px 6px lightgreen;
}

.main-Container{
  padding: 2px 10px;
  border: lightgreen 1px;
}

.Main-Card img {
  display: block;
  margin: 0 auto;
  width: clamp(400px, 100%, 800px);
}

#buttonArea{
  grid-column: 2;
  grid-row: 3;

  display: grid;
  grid-template-columns: 35vw 35vw;
}

/*Styling for each button*/
#next, #previous, .submit-button, #reset{
    height: 38px;
    padding: 0 30px;
    color: #fff;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;

    opacity: 0.5;
  }

  #next:hover, #previous:hover, .submit-button:hover, #reset:hover{
    opacity: 1;
  }

  #next{
    grid-column: 2;
    justify-self: center;
  }

  #previous{
    grid-column: 1;
    justify-self: center;
  }

  /* Other Styling for links and hidden class*/
  .hidden {
    display: none;
  }

  a:link {
    color: lightgreen;
  }

  a:visited {
    color: darkblue;
  }