form {
  flex-direction: column;
}

body {
    margin: 0;
    font-family: monospace;
    background-color: #323e49;
}

#main-div {
  flex-direction: row;
  display: flex;
  width: 90vw;
  flex-flow: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.input-submit-button {
    position: relative;
    background-color: green;
    border: 1mm ridge black;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    cursor: pointer;
    margin-top: 10px;
}

.beer-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  margin: 1rem 2rem;
  width: 25%;
  height: auto;
  box-shadow: 3px 4px lightgreen;
  border-radius: 25px;
  background: #434343;
  color: #ffffff;
}

button {
    position: relative;
    background-color: green;
    border: 1mm ridge black;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .form-div {
    margin-bottom: 10px;
    color: #ffffff;
  }

  a:link {
    color: lightgreen;
  }

  a:visited {
    color: darkblue;
  }